<style>
th, td {
  padding: 10px;
}
#t01 {
background-color:Aquamarine;
}
#t02 {
background-color:IndianRed;
}
#yu1 {
background-color:lime;
}
#yu2 {
background-color:tomato;
}
#yu3{
background-color:skyblue;
color:darkblue;
}

</style>